<div class="container-fluid col-md-6">


  <h3 *ngIf = "!currMember" class="text-center lead">Add Member to Racing Team</h3>
  <h3 *ngIf = "currMember" class="text-center lead">Edit Member on Racing Team</h3>
  <br />
  <!--Template Driven Form or Model Driven Form?-->
  <form [formGroup]="memberForm" (ngSubmit)="onSubmit(memberForm)">
    <div>
      <div class="row">
        <div class="col-md-6">
          <label for="firstName">First Name:</label>
          <input
            
            type="text"
            class="form-control"
            id="firstName"
            formControlName="firstName"
            name="firstName"
            placeholder="First Name"
            
          />
        </div>
 


        <div class="col-md-6">
          <label for="lastName">Last Name:</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            formControlName="lastName"
            placeholder="Last Name"
          />
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-md-6 invalid-alert"
        *ngIf="memberForm.get('firstName').errors &&
              (memberForm.get('firstName').dirty ||
              memberForm.get('firstName').touched)">
        <div *ngIf="memberForm.get('firstName').errors.required">
          First Name is required
        </div>
        <div *ngIf="memberForm.get('firstName').errors.minlength">
          Must be at least 3 chars long
        </div>
        <br/>   
        </div>
        <div class="col-md-6 invalid-alert"
        *ngIf="memberForm.get('lastName').errors &&
              (memberForm.get('lastName').dirty ||
              memberForm.get('lastName').touched)">
        <div *ngIf="memberForm.get('lastName').errors.required">
          First Name is required
        </div>
        <div *ngIf="memberForm.get('lastName').errors.minlength">
          Must be at least 3 chars long
        </div>
        <br/>   
        </div>
      </div>        
   


      <div class="row">
        <div class="col-md-6">
          <label for="jobTitle">Job Title:</label>
          <input
            type="text"
            class="form-control"
            id="jobTitle"
            formControlName="jobTitle"
            placeholder="Job Title"
          />
        </div>
        <div class="col-md-6">
        <label for="team">Team:</label>
        <select id="team" class="custom-select"
        formControlName="team">
          <option value="" disabled selected>Select Team</option>
          <option 
          *ngFor="let team of teams">
          {{ team.teamName }}
          </option>
        </select>
        </div>
      </div>

      
   
      <br />
      <div class="form-group col-md-6">
        <div class="row">
          <label id="activeStatus" class="md-check lead">
            <input type="radio" value="Active"  
            formControlName="status"/> 
            Active
          </label>
          <label class="md-check lead">
            <input type="radio" value="Inactive" 
            formControlName="status" 
            /> 
            Inactive
          </label>
        </div>
      </div>
    </div>

    <!--Disable if form is invalid TODO-->
    <button class="btn btn-warning" (click)="goBackToSummary()"> 
      Back
    </button>
    <button type="submit" 
    class="btn btn-primary pull-right"
    [disabled]="!memberForm.valid" >
      Save Member
    </button>
  </form>
</div>
